* {
    border-radius:30px ;
    padding: 8px;
    text-align: center;

}

body {
    min-height: 100vh;
    transition: .5s;

}

img {
    margin: 0 auto; /* permet de centrer automatiquement */
    height: 200px;
    visibility: hidden;
    transition: 1s;

}

.show {
    visibility: visible;

}

.mouseEvent {
    border:6px solid red;
    width: 220px;
    position: absolute;
    left: 10%;
    transform: translateX(-50%); /*permet de centrer */
    padding: 10px;

}
.themeContainer {
    position: fixed;
    top: 0;

}

.theme {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#dark {
    background: #000;

}

#salmon {
    background: salmon;

}
#yellow {
    background: yellow;
}